<nav class="navbar navbar-expand-lg navbar-dark verdeSena">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {% if rutaFoto != "" %}
            <img src="../static/imagenes/user_avatar.png" alt="Foto Usuario" style="width:40px;" class="rounded-pill"> 
        {% else %}  
            <img src="../media/{{rutaFoto}}" alt="Foto Usuario" style="width:40px;" class="rounded-pill"> 
            {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/">Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vistaGestionarUsuarios/">Gestionar Usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Gestionar Elementos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vistaGestionarDevolutivos/">Devolutivos</a></li>
              <li><a class="dropdown-item" href="#">Materiales</a></li>            
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vistaLogin/">Gestionar Solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salir/">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav> 