.div-shadow{
    width: 40rem;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(57, 169, 0, 0.61); /* Aquí definimos la sombra verde */
}

.verdeSena {
    background-color: rgb(57, 169, 0);
}
a{
    color: rgb(70, 69, 69);
}
.icon:hover{
    color: rgb(57, 169, 0);
    cursor: pointer;
}
@media only screen and (min-width: 500px) {
    .detalleElementos {
        display: grid;
        grid-template-columns: 30% 30%;
        padding-bottom: 10vh;
    }
}
.button-excel{
    background-color: green;
}
.buttons-pdf{
    background-color: red;
}

@media only screen and (min-width: 800px) {
    .detalleElementos {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        align-items: center;
        justify-content: center;
        padding-bottom: 10vh;
    }
}