{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
<h3 class="text-center mt-3 fw-bold">MÓDULO ASISTENTE</h3>
<br />
<div class="row" style="margin: 0 auto !important; width: 55%">
  <div class="col-sm">
    <a href="/vistaSolicitudes/">
      <div class="text-center icon">
        <i class="fa-regular fa-eye fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>
    <div class="text-center fw-bold mt-5">Ver Solicitudes</div>
  </div>
  <div class="col-sm">
    <a href="/vistaGestionarMateriales/">
      <div class="text-center icon">
        <i class="fa-solid fa-boxes-stacked fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>
    <div class="text-center fw-bold mt-5">Gestionar Materiales</div>
  </div>
  <div class="col-sm">
    <a href="/vistaGestionarElementos/">
      <div class="text-center icon">
        <i class="fa-solid fa-screwdriver-wrench fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>
    <div class="text-center fw-bold mt-5">Gestionar Devolutivos</div>
  </div>
  <div class="col-sm">
    <a href="/vistaGestionarInventario/">
      <div class="text-center icon">
        <i class="fa-solid fa-building fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>
    <div class="text-center fw-bold mt-5">Inventario</div>
  </div> 
  <div class="col-sm">
    <a href="/vistaGestionarCuenta/">
      <div class="text-center icon">
        <i class="fa-solid fa-user-gear fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>
    <div class="text-center fw-bold my-5">Gestionar Cuenta</div>
  </div>
  
</div>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
