{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark verdeSena">
    <div class="container-fluid">
      <div class="dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" data-bs-toggle="dropdown">
          {% if user.userFoto != "" %}
            <img src="/media/{{user.userFoto}}" alt="Foto Usuario" style="width:40px;" class="rounded-pill"> 
          {% else %}  
            <img src="/media/user-logo.png" alt="No foto" style="width:40px;" class="rounded-pill">
          {% endif %}
        </a>
        <ul class="dropdown-menu" style="width:300px">  
          <li><span class="dropdown-item fw-bold">{{user.first_name}} {{user.last_name}}</span></li>      
          <li class="dropdown-item" style="margin-right: 20px; margin-top:2px">         
            <select id="cbRolMenu" name="cbRolMenu" class="form-select">
              <option value="" selected class="fw-bold">Seleccione su Rol</option>
              {% for group in request.user.groups.all %}
                {% if group.name == 'Administrador' %}
                  <option value="Administrador">Administrador</option>
                  <option value="Instructor">Instructor</option>
                  <option value="Asistente" selected>Asistente</option>
                {% else %}
                  <option value="{{group.name}}">{{group.name}}</option>    
                {% endif%}          
              {% endfor %}
            </select>
          </li>
          <li><a class="dropdown-item" href="/vistaGestionarCuenta/">Gestionar Tú Cuenta</a></li>
          <li><a class="dropdown-item" href="/salir/">Salir</a></li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/inicioAsistente/">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Gestionar Elementos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vistaGestionarElementos/">Gestionar Devolutivos</a></li>
              <li><a class="dropdown-item" href="/vistaGestionarMateriales/">Gestionar Materiales</a></li>     
              <li><a class="dropdown-item" href="/vistaRegistrarEntradaMaterial/">Registrar Entrada Material</a></li>            
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Gestionar solicitudes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vistaSolicitudes/">Antender Solicitud</a></li>
              <li><a class="dropdown-item" href="/vistaDevolucionElementos/">Antender Devolucion</a></li>                
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav> 