{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<h3 class="text-center fw-bold">GESTIONAR ELEMENTOS DEVOLUTIVOS</h3>

<div class="w-75 table-responsive" style="margin: 0 auto; margin-bottom: 5rem;">
    <a href="/vistaRegistrarElementos/"><button class="btn btn-secondary"><i class="fa-solid fa-circle-plus fa-bounce"></i> Agregar</button></a>
    <br>
    <br>
    <table id="tblElementos" class="table table-bordered table-hover">
        <thead>
            <tr class="text-center verdeSena text-white">
                <th>Código Propio</th>    
                <th>Placa SENA</th>                                  
                <th>Nombre</th>
                <th>Ubicación</th> 
                <th>Tipo</th>                   
                <th>Estado</th>   
                <th>Foto</th>                   
                <th>Hoja Vida</th>
            </tr>
        </thead>
        <tbody>
            {% for devolutivo in devolutivos %}
                <tr>
                    <td>{{devolutivo.devElemento.eleCodigo}}</td>
                    <td>{{devolutivo.devPlacaSena}}</td>                        
                    <td>{{devolutivo.devElemento.eleNombre}}</td>
                    {% for ubicacion in ubicaciones%}
                        {% if ubicacion.ubiElemento_id == devolutivo.devElemento.id %}
                        <td>
                            <p>Deposito: {{ubicacion.ubiDeposito}} Estante: {{ubicacion.ubiEstante}}</p>
                            <p>Entrepaño: {{ubicacion.ubiEntrepano}} Locker: {{ubicacion.ubiLocker}}</p>
                        </td>
                        {% endif %}
                    {% endfor %}
                    <td>{{devolutivo.devElemento.eleTipo}}</td>
                    <td>{{devolutivo.devElemento.eleEstado}}</td>
                    <td><img src="/media/{{devolutivo.devFoto}}" width="50" height="50"></td>
                    <td class="text-center">
                        <a class="icon"  href="/hojaVidaDevolutivo/{{devolutivo.id}}" ><i class="fa-solid fa-file-pen fa-fade fa-2xl"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- The Modal -->


<script>
   cargarDataTable($("#tblElementos"),"Elementos Devolutivos",6)
</script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}