<nav class="navbar navbar-expand-lg navbar-dark verdeSena">
    <div class="container-fluid">
      <a class="navbar-brand" href="/inicioAdministrador/">
        {% if user.userFoto != "False" %}
          <img src="../media/{{user.userFoto}}" alt="Foto Usuario" style="width:40px;" class="rounded-pill"> 
        {% else %}  
          <img src="../media/user-logo.png" alt="No foto" style="width:40px;" class="rounded-pill">
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="margin-right: 20px; margin-top:0.2rem;">          
            <select id="cbRolMenu" name="cbRolMenu" class="form-control custom-select verdeSena" style="border:none; color:white;cursor: pointer;">                
                    <option value="Administrador" class="verdeSena" select>Administrador</option>
                    <option value="Instructor"class="verdeSena">Instructor</option>
                    <option value="Asistente"class="verdeSena">Asistente</option>
            </select>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inicioAdministrador/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/">Administrador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vistaGestionarUsuarios/">Gestionar Usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Solicitudes
            </a>
            <ul class="dropdown-menu verdeSena" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/verSolicitudesAprobadas/">Solicitudes Por Atender</a></li>
              <li><a class="dropdown-item" href="/verSolicitudesPorAprobar/">Solicitudes Por Aprobar</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gestionar Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salir/">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav> 