{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<h2 class="text-center fw-bold">REPORTES ESTADISTICOS</h2>
<div class="row">
    <div class="col-6">
        <a href="../media/grafica1.png"><img src="../media/grafica1.png" alt="grafica1"></a>
    </div>
    <div class="col-6">
        <a href="../media/grafica2.png"><img src="../media/grafica2.png" alt="grafica2"></a>
    </div>
</div>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
