{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
<h3 class="text-center fw-bold">GESTIONAR USUARIOS</h3>

<div class="w-75 table-responsive" style="margin-bottom: 5rem;">
    <a href="/vistaRegistrarUsuario/"><button class="btn btn-secondary"><i class="fa-solid fa-user-plus fa-bounce"></i> Agregar</button></a>
    <br>
    <br>
    <table id="tblPersonas" class="table table-bordered table-hover">
        <thead>
            <tr class="text-center verdeSena text-white">
                <th>Nombre Completo</th>
                <th>Correo Electrónico</th>
                <th>Tipo</th>
                <th>Foto</th>
                <th>Cambiar Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.first_name}} {{usuario.last_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.userTipo}}</td>
                    <td>
                        {% if usuario.userFoto != "" %}
                            <img src="/media/{{usuario.userFoto}}" width="50" height="50">
                        {% else %}
                            <img src="/media/user-logo.png" width="50" height="50">
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if usuario.is_active %}
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input class="form-check-input" onclick="cambiarEstadoUsuario({{usuario.id}})" type="checkbox" id="estadoInput{{usuario.id}}" checked>
                                <label class="form-check-label" for="userEstado" id="userEstado{{usuario.id}}">Activo</label>
                            </div>
                        {% else %}
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input class="form-check-input" onclick="cambiarEstadoUsuario({{usuario.id}})" id="estadoInput{{usuario.id}}" type="checkbox" id="userEstado">
                                <label class="form-check-label" for="userEstado" id="userEstado{{usuario.id}}">Inactivo</label>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- The Modal -->


<script>
    cargarDataTable($("#tblPersonas"),"Usuarios Registrados",3)
</script>
<script>
    function cambiarEstadoUsuario(id){
        let url = `/cambiarEstadoUsuario/${id}`
        fetch(url)
        .then(response =>response.json())
        .then(data =>{
            if(data.estado){
                document.getElementById(`userEstado${id}`).innerHTML = data.mensaje
            }else{
                Swal.fire({
                    title: 'Modificar usuario',
                    text: data.mensaje,
                    icon: 'warning',               
                    confirmButtonColor: '#3085d6',             
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.isConfirmed) {
                       document.getElementById(`estadoInput${id}`).checked = true;
                    }
                })
            }
        })
    }
</script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}