{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center align-items-center my-5">
                <div class="bg-white p-5 rounded-5 text-dark div-shadow bg-opacity-75" style="width: 40rem">
                    <h2 class="text-center">Restablecimiento de contraseña enviado</h2>
                    <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.

                        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
                </div>
            </div>
        </div>
    </div>
  </div>  
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}