{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="d-flex justify-content-center align-items-center my-5">
                    {% if validlink %}
                        <div class="bg-white p-5 rounded-5 text-dark div-shadow bg-opacity-75" style="width: 40rem">
                            <h2 class="text-center">Escriba la nueva contraseña</h2>
                            <p>Por favor, ingrese su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                            <form method="post" class="form-group">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <button type="button" class="input-group-text bg-light" id="btnNuevaContraseña">
                                        <i class="bi bi-eye-slash-fill"></i>
                                    </button>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" placeholder="Nueva contraseña" required>
                                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva contraseña:</label>
                                    </div>
                                </div>
                                {% for error in form.new_password1.errors %}
                                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                                <div class="input-group mb-3">
                                    <button type="button" class="input-group-text bg-light" id="btnConfirmarContraseña">
                                        <i class="bi bi-eye-slash-fill"></i>
                                    </button>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" placeholder="Confirmar nueva contraseña" required>
                                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar nueva contraseña:</label>
                                    </div>
                                </div>
                                {% for error in form.new_password2.errors %}
                                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    {% endfor %}
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-secondary">Restablecer contraseña</button>
                                </div> 
                            </form>
                        </div>
                    {% else %}
                        <div class="bg-white p-5 rounded-5 text-dark shadow bg-opacity-75" style="width: 40rem">
                            <h2 class="text-center">Restablecimiento de contraseña fallido</h2>
                            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
      
    <script>
        $(document).ready(function() {
            $('#btnNuevaContraseña').click(function() {
              const passwordInput = $('#{{ form.new_password1.id_for_label }}');
              const icon = $(this).find('i');
        
              if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                icon.removeClass('bi-eye-slash-fill').addClass('bi-eye-fill');
              } else {
                passwordInput.attr('type', 'password');
                icon.removeClass('bi-eye-fill').addClass('bi-eye-slash-fill');
              }
            });
          }); 
        $(document).ready(function() {
            $('#btnConfirmarContraseña').click(function() {
              const passwordInput = $('#{{ form.new_password2.id_for_label }}');
              const icon = $(this).find('i');
        
              if (passwordInput.attr('type') === 'password') {
                passwordInput.attr('type', 'text');
                icon.removeClass('bi-eye-slash-fill').addClass('bi-eye-fill');
              } else {
                passwordInput.attr('type', 'password');
                icon.removeClass('bi-eye-fill').addClass('bi-eye-slash-fill');
              }
            });
          }); 
    </script>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}