{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center align-items-center my-5">
                <div class="bg-white p-5 rounded-5 text-dark div-shadow bg-opacity-75" style="width: 40rem">
                    <h2 class="text-center">Restablecimiento de contraseña completado</h2>
                    <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
                    <div class="pt-1 text-center">
                        <a href="/" class="text-decoration-none  fw-semibold fst-italic"
                          >Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> 
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
