{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "instructor/menu.html" %}
{%endblock %}
{% block contenido %}
<h3 class="text-center mt-3 fw-bold">MÓDULO INSTRUCTOR</h3>
<br/>
<div class="row" style="margin: 0 auto !important; width: 55%">
  <div class="col-sm">
    <a href="/solicitarElementos/">
      <div class="text-center icon">
        <i class="bi bi-send-plus-fill fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>
    <div class="text-center fw-bold">Solicitar Elementos</div>
  </div>
  <div class="col-sm">
    <a href="/vistaVerSolicitudes/">
      <div class="text-center icon">
        <i class="bi bi-list-ol fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>

    <div class="text-center fw-bold">Ver mis solicitudes</div>
  </div>
  <div class="col-sm">
    <a href="/vistaGestionarMantenimientos/">
      <div class="text-center icon">
        <i class="bi bi-tools fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>

    <div class="text-center fw-bold">Gestionar Mantenimientos</div>
  </div>
  <div class="col-sm" style="margin-bottom: 5rem;">
    <a href="/vistaGestionarCuenta/">
      <div class="text-center icon">
        <i class="bi bi-person-fill-gear fa-fade" style="font-size: 8rem;"></i>
      </div>
    </a>

    <div class="text-center fw-bold">Gestionar Cuenta</div>
  </div>
</div>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}
