<nav class="navbar navbar-expand-lg navbar-dark verdeSena">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {% if user.userFoto != "False" %}
          <img src="../media/{{user.userFoto}}" alt="Foto Usuario" style="width:40px;" class="rounded-pill"> 
        {% else %}  
          <img src="../media/user-logo.png" alt="No foto" style="width:40px;" class="rounded-pill">
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="margin-right: 20px; margin-top:0.2rem;">          
            <select id="cbRolMenu" name="cbRolMenu" class="form-control custom-select verdeSena" style="border:none; color:white;cursor: pointer;">
                  {% if rol == 'Administrador' %}                 
                    <option value="Administrador" class="verdeSena">Administrador</option>
                    <option value="Instructor"class="verdeSena" selected>Instructor</option>
                    <option value="Asistente"class="verdeSena">Asistente</option>
                  {%else %}
                      <option value="{{rol}}"class="verdeSena">{{rol}}</option>
                  {% endif %}
            </select>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inicioInstructor/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/solicitarElementos/">Solicitar Elementos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ver mis solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salir/">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav> 