<nav class="navbar navbar-expand-lg navbar-dark verdeSena">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {% if user.userFoto != "False" %}
          <img src="../media/{{user.userFoto}}" alt="Foto Usuario" style="width:40px;" class="rounded-pill"> 
        {% else %}  
          <img src="../media/user-logo.png" alt="No foto" style="width:40px;" class="rounded-pill">
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/inicioInstructor/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/solicitarElementos/">Solicitar Elementos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ver mis solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salir/">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav> 