{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{%endblock %}
{% block menu %}
{% include "instructor/menu.html" %}
{%endblock %}
{% block contenido %}

{% load static %}
<br>
<h3 class="text-center fw-bold">Solicitar Elementos</h3>
<div class="container" style="min-height:100vh; margin-bottom:5rem;">
    <div class="d-flex my-1 row">
        <input class="form-control me-2 col-11 col-sm" type="search" placeholder="Search" list="elementos" name="search">
        <button class="btn btn-success my-1 verdeSena" type="button" onclick="addElement()" style="width: 20%;">Agregar</button>
        <datalist id="elementos" class="dataList">
        </datalist>
    </div>
    <div class="d-flex row">
        <!-- Button to open the offcanvas sidebar -->
        <div class="col-sm-4 my-2">
            <button class="btn btn-success verdeSena w-100" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#demo">
            Elementos
            </button>
        </div>
        <div class="col-sm-4 my-2">
            <button class="btn btn-success verdeSena w-100" type="button" onclick="prepararSolicitud()">
                Hacer Solicitud
            </button>
        </div>
        <div class="col-sm-4 my-2">
            <button class="btn btn-success verdeSena w-100" type="button" onclick="deleteAllElements()">
                Eliminar Elementos
            </button>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-2 my-1 detalleElementos" id="detalleElementos"></div>
</div>

<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Todos Los Elementos</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-header">
        <input class="form-control me-2 w-75" type="search" placeholder="Search" list="elementos" name="search">
        <button class="btn btn-primary w-25" type="button" onclick="addElement()">Search</button>
    </div>
    <div class="offcanvas-body">
        <div id="offcanvasElements">

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="solicitudModal" tabindex="-1" aria-labelledby="solicitudModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="solicitudModalLabel">Datos De La Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                      <input
                        type="text"
                        class="form-control" name="nameProyect" id="nameProyect" placeholder="example">
                      <label for="nameProyect">Nombre Del Proyecto</label>
                    </div>
                    <div class="mb-3">
                        <label for="ficha" class="form-label">Ficha:</label>
                        <select class="form-select form-select-sm" name="ficha" id="ficha">
                            {% for f in fichas %}
                            <option value="{{f.ficCodigo}}">{{f.ficCodigo}}-{{f.ficNombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                      <label for="dateProyect" class="form-label">Para cuando lo necesita:</label>
                      <input type="datetime-local"
                        class="form-control" name="dateProyect" id="dateProyectRequerida" min="{{hoy}}">
                    </div>
                    <div class="mb-3">
                      <label for="dateProyect" class="form-label">Cuando puede devolverlo:</label>
                      <input type="datetime-local"
                        class="form-control" name="dateProyect" id="dateProyectDevolver" min="{{hoy}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="enviarSolicitud()">Enviar Solicitud</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/solicitarElemento.js' %}"></script>

{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}